:root{
  /* KLEUREN (merk) */
  --merk-900:#000C1A;
  --merk-800:#0B1220;
  --merk-700:#002A5C;
  --merk-500:#0058C2;
  --merk-400:#006FF5;
  --merk-100:#C2DDFF;

  /* ACCENT */
  --accent-600:#CD3618;
  --accent-500:#E75234;

  /* NEUTRALS */
  --n-900:#13171D;
  --n-500:#435264;
  --n-100:#D2D5D9;
  --n-050:#FAFAFA;
  --wit:#FFFFFF;

  /* THEMA LIGHT */
  --bg:#EAF3FF;
  --tekst:var(--n-900);
  --tekst-zacht:var(--n-500);
  --nav-tekst:#003B82;

  /* SURFACES */
  --surface:#FFFFFF;
  --surface-2:#F4F7FB;
  --border:rgba(19,23,29,.10);

  /* TYPO */
  --font:system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
  --line:1.6;

  /* RADIUS */
  --r:18px;
  --r-afb:26px;

  /* SHADOW */
  --shadow:0 10px 22px rgba(0,0,0,.08);

  /* SPACING */
  --s2:.5rem;
  --s3:.75rem;
  --s4:1rem;
  --s5:1.5rem;
  --s6:2rem;
  --s7:3rem;
  --s8:4rem;

  /* LAYOUT */
  --container:1720px;
}